* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "メイリオ";
}

header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

.steps {
  margin: 50px auto;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
}

.step {
  width: 300px;
  padding: 10px;
  background-color: #eeeeee;
  margin-right: 30px;
  position: relative;
}

.step:last-child {
  margin-right: 0;
}

.step-number {
  color: #fff;
  background-color: #ff9a4b;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.step-image1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.step-image2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.step-image3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.step-title {
  margin: 15px 0 5px 0;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  .steps {
    display: block;
    width: 90%;
  }

  .step {
    width: 100%;
    padding: 10px;
    margin: 0 0 20px 0;
  }

  .step:last-child {
    margin: 0;
  }
}
